body
{
background-image:url('background_site.png');
background-attachment:fixed; 
}
div.a
{
border-color:#87CEFA;
border-width:8px;
border-style:inset;
border-radius:10em;
margin-left:30%;
margin-right:30%;
}
div.b
{
font-family:calibri,verdana;
color:#00FFFF;
margin-right:25%;
margin-left:25%;
}
h1
{
text-align:center;
font-family:calibri,verdana;
color:#ffffff;
}
h4
{
text-align:center; 
color:white;
font-family:arial;
}
legend
{
text-align:center;
color:#ffffff;
font-size:14pt;
font-family:"times new roman"
}
fieldset
{
border-radius:1em;
border-style:groove;
border-width:6px;
}
#centro
{
text-align:center;
}
p
{
color:#ffffff;
font-family:verdana;
text-align:center;
font-size:9pt;
}
a:link
{
color:#ffffff;
text-decoration:none;
}
a:visited
{
color:#ffffff;
text-decoration:none;
}
a:hover
{
font-family:"monotype corsiva";
text-decoration:none;
font-size:14pt;
}
a:active
{
color:red;
text-decoration:none;
}
input
{
color:black;
}

